### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data_csv)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Count Unique number of total Players
total_players = len(purchase_data_df["SN"].unique())

#Display in DataFrame
player_count_df = pd.DataFrame({"Total Players": [total_players]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Purchasing Analysis
number_of_unique_items = len(purchase_data_df["Item ID"].unique())
average_price = purchase_data_df["Price"].mean()
number_of_purchases = len(purchase_data_df["Purchase ID"])
total_revenue = purchase_data_df["Price"].sum()

#Purchase Analysis DataFrame
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [number_of_unique_items],
                                      "Average Price": [average_price],
                                      "Numer of Purchases": [number_of_purchases],
                                      "Total Revenue": total_revenue})

#DataFrame Formatting
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].astype(float).map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].astype(float).map("${:,.2f}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Numer of Purchases Total Revenue
0                     183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#Gender Demographic Analysis
male_list = purchase_data_df.loc[purchase_data_df['Gender'] == "Male"]
male_counts = male_list['SN'].nunique()
male_percent = male_counts / total_players * 100
female_list = purchase_data_df.loc[purchase_data_df['Gender'] == "Female"]
female_counts = female_list['SN'].nunique()
female_percent = female_counts / total_players * 100
non_disclosed_list = purchase_data_df.loc[purchase_data_df['Gender'] == "Other / Non-Disclosed"]
non_disclosed_counts = non_disclosed_list['SN'].nunique()
non_disclosed_percent = non_disclosed_counts / total_players * 100

#Gender Demographics DataFrame
gender_demographics_df = pd.DataFrame({"":['Female','Male','Other / Non-Disclosed'],
                                      "Total Count":[female_counts,male_counts,non_disclosed_counts],
                                      "Percentage of Players":[female_percent,male_percent,non_disclosed_percent]})

#DataFrame Formatting
gender_demographics_df['Percentage of Players'] = gender_demographics_df['Percentage of Players'].astype(float).map("{:.2f}%".format)
gender_demographics_df = gender_demographics_df.set_index('')

#Show DataFrame
gender_demographics_df

                       Total Count Percentage of Players

Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#Group Data by Gender
groupby_gender_df = purchase_data_df.groupby(['Gender'])

#Purchase Analysis by gender
gender_purchase_count = groupby_gender_df["SN"].count()
gender_average_purchase_price = groupby_gender_df["Price"].mean()
gender_total_purchase_value = groupby_gender_df["Price"].sum()
gender_total_purchase_per_person = groupby_gender_df['Price'].sum() / gender_demographics_df["Total Count"]

#Create DataFrame
gender_purchasing_analysis_df = pd.DataFrame({"Purchase Count":gender_purchase_count,
                                             "Average Purchase Price":gender_average_purchase_price,
                                             "Total Purchase Value":gender_total_purchase_value,
                                             "Avg Total Purchase per Person":gender_total_purchase_per_person})

#Format DataFrame
gender_purchasing_analysis_df["Average Purchase Price"] = gender_purchasing_analysis_df["Average Purchase Price"].astype(float).map("${:.2f}".format)
gender_purchasing_analysis_df["Total Purchase Value"] = gender_purchasing_analysis_df["Total Purchase Value"].astype(float).map("${:.2f}".format)
gender_purchasing_analysis_df["Avg Total Purchase per Person"] = gender_purchasing_analysis_df["Avg Total Purchase per Person"].astype(float).map("${:.2f}".format)

#Show DataFrame
gender_purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame